@import url(reset.css);

body{background: #75756c;}
#wrapper{width: 1000px;margin: 50px auto;background: #333;border-radius: 40px;padding: 20px}
.gnb{height: 200px;display: flex;}
.gnb li{width: 200px;height: 200px;cursor: pointer;display: flex;justify-content: center;align-items: center;}
.gnb li img{width:150px;height:150px;pointer-events: none}
.gnb li.over img{width: 200px;height: 200px;transition: all 0.5s cubic-bezier(.28,3.5,.62,-0.22);}

.contents{background-color: #fff;position: relative;border-radius: 20px}
.contents .arrow{position: absolute;left:0;top:-30px;width:200px;height: 30px;background: url(../img/start/arrow.png) no-repeat center bottom;transition: all 0.5s}

.contents .titleBox{height: 80px;overflow: hidden;margin: 20px;}
.contents .titleBox .title{position: relative;transition: all 0.5s}
.contents .titleBox .title li{height: 80px;font-size: 70px;}
.contents .titleBox .title li:nth-child(1){color:#85b416}
.contents .titleBox .title li:nth-child(2){color:#00afdb}
.contents .titleBox .title li:nth-child(3){color:#999}
.contents .titleBox .title li:nth-child(4){color:#f6c110}
.contents .titleBox .title li:nth-child(5){color:#ec4623}

.contents .txt{margin: 30px;color:#999;line-height: 1.5;position: relative;}
.contents .txt li{padding-bottom: 20px;position: absolute;display: none;}
.contents .txt li:nth-child(1) {display: block;}